@keyframes slide1 {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(-1220px, 0, 0);
	}
}
@keyframes slide2 {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(-2420px, 0, 0);
	}
}
#mt1base {
	animation: slide1 9s linear forwards;
}
#mt1first{
	will-change: transform;
	animation: slide2 18s infinite linear;
}
#mt1second{
	will-change: transform;
	animation: slide2 18s 9s infinite linear;
}
#mt2base {
	animation: slide1 12s linear forwards;
}
#mt2first{
	will-change: transform;
	animation: slide2 24s infinite linear;
}
#mt2second{
	will-change: transform;
	animation: slide2 24s 12s infinite linear;
}
#mt3base {
	animation: slide1 15s linear forwards;
}
#mt3first{
	will-change: transform;
	animation: slide2 30s infinite linear;
}
#mt3second{
	will-change: transform;
	animation: slide2 30s 15s infinite linear;
}
#mt4base {
	animation: slide1 20s linear forwards;
}
#mt4first{
	will-change: transform;
	animation: slide2 40s infinite linear;
}
#mt4second{
	will-change: transform;
	animation: slide2 40s 20s infinite linear;
}
.test{
	position: absolute;
}
#garden {
	position: absolute;
	top: 0;
	left: 0;
}